{% load static %}

<!-- Global Vendor, plugins JS -->
<!-- Vendors JS -->

<script src="{% static "assets/js/vendor/bootstrap.bundle.min.js" %}"></script>
<script src="{% static  "assets/js/vendor/jquery-3.5.1.min.js"%}"></script>
<script src="{% static  "assets/js/vendor/jquery-migrate-3.3.0.min.js"%}"></script>
<script src="{% static  "assets/js/vendor/modernizr-3.11.2.min.js"%}"></script>


<script src="{% static  "assets/js/plugins/countdown.min.js" %}"></script>
<script src="{% static  "assets/js/plugins/aos.min.js" %}"></script>
<script src="{% static  "assets/js/plugins/swiper-bundle.min.js" %}"></script>
<script src="{% static  "assets/js/plugins/nice-select.min.js" %}"></script>
<script src="{% static  "assets/js/plugins/jquery.ajaxchimp.min.js" %}"></script>
<script src="{% static  "assets/js/plugins/jquery-ui.min.js" %}"></script>
<script src="{% static  "assets/js/plugins/lightgallery-all.min.js" %}"></script>
<script src="{% static  "assets/js/plugins/thia-sticky-sidebar.min.js" %}"></script>


<script src="{% static "/js/vendor.min.js" %}"></script>
<script src="{% static "assets/js/plugins.min.js" %}"></script>
<!--Main JS-->
<script src="{% static "assets/js/main.js" %}"></script>
