{% load static %}
    <link rel="shortcut icon" href="{% static "assets/images/favicon.ico" %}">
    <link rel="stylesheet" href="{% static "assets/css/vendor/fontawesome.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/vendor/pe-icon-7-stroke.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/plugins/swiper-bundle.min.css" %}" />
    <link rel="stylesheet" href="{% static "assets/css/plugins/animate.min.css" %}" />
    <link rel="stylesheet" href="{% static "assets/css/plugins/aos.min.css" %}" />
    <link rel="stylesheet" href="{% static "assets/css/plugins/nice-select.min.css" %}" />
    <link rel="stylesheet" href="{% static "assets/css/plugins/jquery-ui.min.css" %}" />
    <link rel="stylesheet" href="{% static "assets/css/plugins/lightgallery.min.css" %}" />
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}" />
    <link rel="stylesheet" href="{% static "assets/css/vendor.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/plugins.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/style.min.css" %}">
